---
layout: default
title: Meta
permalink: /meta
---

{% include header.html %}
<div class="row">
  <div class="col-12">
    <h1>Meta</h1>
    <p>
      The Pseudocode is a monthly tech-based email newsletter by
      <a href="https://twitter.com/thomascountz">Thomas Countz</a> with support
      from many contributors and readers. You can follow
      <a href="https://twitter.com/thepseudocode">The Pseudocode on Twitter</a>,
      <a href="/">subscribe on the homepage</a>, and
      <a href="https://github.com/thomascountz/thepseudocode"
        >read the source on Github</a
      >.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {% include utterances.html %}
  </div>
</div>
{% include footer.html %}
