---
layout: default
title: Meta
permalink: /meta
---

<div class="content">
  {% include banner.html %}
  <div class="row">
    <div class="col-12">
      <h1 class="center">
        The Pseudocode is a monthly tech-based email newsletter by <a href="https://twitter.com/thomascountz">Thomas Countz</a> with support from many contributors and readers. You can follow <a href="https://twitter.com/thepseudocode">The Pseudocode on Twitter</a>, <a href="/">subscribe on the homepage</a>, and <a href="https://github.com/thomascountz/thepseudocode">read the source on Github</a>.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% include utterances.html %}
    </div>
  </div>
</div>
