<div class="row footer">
  <footer>
    <div class="col-4"></div>
    <div class="col-4">
      <ul class="center">
        <li>
          <a href="/" style="text-decoration:none;">
            <img
              src="/assets/images/thepseudocode_logo.png"
              alt="The Pseudocode logo"
              class="logo"
              width="40"
            />
          </a>
          Built by
          <a href="https://www.twitter.com/thomascountz">@thomascountz</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
