<div class="row footer">
  <footer>
    <div class="col-4">
      <ul>
        <li>what The Pseudocode is <a href="/about">about.</a></li>
        <li>respecting <a href="/privacy">privacy.</a></li>
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <li>
          reach out via <a href="https://twitter.com/thepseudocode">twitter.</a>
        </li>
        <li>The Pseudocode on <a href="https://www.indiehackers.com/product/thepseudocode">Indie Hackers.</a></li>
      </ul>
    </div>
    <div class="col-4">
      <p>
        <img
          src="/assets/images/thepseudocode_logo.png"
          alt="The Pseudocode logo"
          class="logo"
          width="60"
        />
        Built by
        <a href="https://www.twitter.com/thomascountz">@thomascountz</a>
      </p>
    </div>
  </footer>
</div>

